/* Reset e Estilos Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif; /* Sugestão de nova fonte */
    background-color: var(--bg-primary); /* Usa a nova cor de fundo */
    color: var(--text-primary); /* Usa a nova cor de texto */
    line-height: 1.6;
    transition: background-color 0.3s, color 0.3s; /* Para futuras animações de tema */
}

.page-container {
    margin: 0 40px; /* margem de 10px de cada lado */
    padding: 0;
}

/* Canvas Background */
#canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Seções Gerais */
.section-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
    color: var(--text-primary);
}

/* Animações de entrada */
.fade-out {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.6s ease;
}

.fade-in {
    opacity: 1;
    transform: translateY(0);
}